<!-- templates/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
&nbsp;&nbsp;
<h1 class="form-title">Login</h1>
    <div class="login-form-container">
        <div class="login-register-form">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% if messages %}
                    <div class="alert alert-info" role="alert">
                            {% for message in messages %}
                                {% if message.tags == 'info' %}
                                    <strong><li id="msg" style="text-align:center;">{{ message }}</li></strong>
                                {% endif %}
                            {% endfor %}
                    </div>
                {% endif %}
                <input type="text" name="username" placeholder="Username" />
                <div style="position: relative; width: 100%;" class="text-center">
                    <input type="password" name="userpassword" id="userpassword" placeholder="Password" required="true" style="width: 100%; padding: 10px; box-sizing: border-box;"/>
                    <span onclick="togglePasswordVisibility('pass1')" style="position: absolute; right: 490px; top: 50%; transform: translateY(-60%);cursor: pointer; z-index: 1;">
                        <i class="fa fa-eye-slash" id = "eye-icon"></i>
                    </span>
                </div>
                <div class="button-box">
                    <button type="submit" class="btn-auth"><span>Login</span></button>
                    <p>Don't have an account? &nbsp;<a href="{% url 'signup' %}">Signup</a></p>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block js %}
<script>

    function togglePasswordVisibility(inputFieldId) {
        var x = document.getElementById(inputFieldId);
        var y = document.getElementById("eye-icon");
        if (x.type === "password") {
            x.type = "text";
            y.className = "fa fa-eye";
        } else {
            x.type = "password";
            y.className = "fa fa-eye-slash";
        }
    }

</script>
{% endblock %}